/* Page wrapper */
.homePage {
  background: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


.slogan {
  text-align: center;
  padding: 140px 20px 100px;
  font-size: 48px;
  font-weight: 900;
  max-width: 700px;
  color: #665ba2;
  margin: 0 auto 40px;
  line-height: 1.1;
}
